In [ ]:
# import sys
# !{sys.executable} -m pip install pykeen

In [1]:
import matplotlib # For graph plotting
from pykeen.pipeline import pipeline

# Import pykeen library
import pykeen
from pykeen.models.predict import get_head_prediction_df
from pykeen.models.predict import get_all_prediction_df
from pykeen.models.predict import get_tail_prediction_df
from pykeen.models.predict import get_relation_prediction_df

# 'Nations' dataset ships & installs with pykeen
# In Windows, it is found under the python directory, for example:
# C:\Users\USER\AppData\Roaming\Python\Python38\site-packages\pykeen\datasets\nations
from pykeen.datasets import Nations

In [ ]:
#from pykeen.pipeline import pipeline
dataset = Nations()
training_triples_factory = dataset.training

In [21]:
dataset

Nations(training_path="C:\Users\user\AppData\Local\Programs\Python\Python39\Lib\site-packages\pykeen\datasets\nations\train.txt", testing_path="C:\Users\user\AppData\Local\Programs\Python\Python39\Lib\site-packages\pykeen\datasets\nations\test.txt", validation_path="C:\Users\user\AppData\Local\Programs\Python\Python39\Lib\site-packages\pykeen\datasets\nations\valid.txt")

In [24]:
with open(r'C:\Users\user\AppData\Local\Programs\Python\Python39\Lib\site-packages\pykeen\datasets\nations\test.txt', ) as f:
    test = f.readlines()
test

['poland\tngoorgs3\tussr\n',
 'india\tintergovorgs\tisrael\n',
 'israel\tcommonbloc1\tcuba\n',
 'usa\tindependence\tchina\n',
 'burma\treldiplomacy\tussr\n',
 'uk\tpprotests\tussr\n',
 'indonesia\tmilitaryactions\tuk\n',
 'poland\tweightedunvote\tnetherlands\n',
 'china\tintergovorgs3\tindia\n',
 'burma\trelintergovorgs\tusa\n',
 'israel\tngoorgs3\tbrazil\n',
 'india\tintergovorgs\tegypt\n',
 'netherlands\tngo\tindia\n',
 'ussr\tbooktranslations\tusa\n',
 'usa\tmilitaryalliance\tnetherlands\n',
 'india\tcommonbloc1\tpoland\n',
 'cuba\treldiplomacy\tegypt\n',
 'usa\tweightedunvote\tisrael\n',
 'cuba\tngoorgs3\tisrael\n',
 'china\tembassy\tburma\n',
 'netherlands\tembassy\tindia\n',
 'egypt\tembassy\tuk\n',
 'india\trelexports\tussr\n',
 'indonesia\taccusation\tuk\n',
 'egypt\tofficialvisits\tussr\n',
 'brazil\tintergovorgs\tcuba\n',
 'china\trelexports\tcuba\n',
 'ussr\trelintergovorgs\tbrazil\n',
 'usa\tngoorgs3\tnetherlands\n',
 'jordan\treltreaties\tindonesia\n',
 'indonesia\tviolentactions\tuk\n',
 'poland\treldiplomacy\tusa\n',
 'usa\tunweightedunvote\tisrael\n',
 'china\trelintergovorgs\tbrazil\n',
 'burma\treltreaties\tchina\n',
 'ussr\tblockpositionindex\tuk\n',
 'cuba\treldiplomacy\tchina\n',
 'egypt\tngoorgs3\tusa\n',
 'cuba\trelexports\tussr\n',
 'burma\trelintergovorgs\tisrael\n',
 'ussr\trelbooktranslations\tusa\n',
 'china\tintergovorgs3\tussr\n',
 'india\treltreaties\tusa\n',
 'ussr\tblockpositionindex\tburma\n',
 'poland\tweightedunvote\tuk\n',
 'ussr\tindependence\tchina\n',
 'ussr\trelngo\tpoland\n',
 'india\trelintergovorgs\tbrazil\n',
 'china\tnegativecomm\tindia\n',
 'usa\tofficialvisits\tindonesia\n',
 'cuba\tindependence\tusa\n',
 'uk\ttourism3\tegypt\n',
 'cuba\tnegativebehavior\tuk\n',
 'poland\treltreaties\tussr\n',
 'israel\tbooktranslations\tussr\n',
 'burma\treldiplomacy\tegypt\n',
 'china\tofficialvisits\tindonesia\n',
 'usa\tweightedunvote\tcuba\n',
 'uk\tweightedunvote\tcuba\n',
 'china\tembassy\tegypt\n',
 'israel\tintergovorgs3\tegypt\n',
 'uk\ttimesinceally\tusa\n',
 'cuba\tintergovorgs3\tuk\n',
 'jordan\treldiplomacy\tusa\n',
 'india\trelexports\tuk\n',
 'indonesia\treldiplomacy\tegypt\n',
 'egypt\tembassy\tcuba\n',
 'israel\ttimesincewar\tjordan\n',
 'uk\trelngo\tusa\n',
 'poland\tngo\tindia\n',
 'indonesia\trelngo\tcuba\n',
 'burma\tdependent\tuk\n',
 'netherlands\ttreaties\tusa\n',
 'usa\tmilitaryalliance\tuk\n',
 'jordan\trelintergovorgs\tpoland\n',
 'uk\tintergovorgs3\tbrazil\n',
 'poland\treldiplomacy\tcuba\n',
 'usa\tembassy\tuk\n',
 'uk\tngo\tpoland\n',
 'ussr\treldiplomacy\tusa\n',
 'egypt\treltreaties\tpoland\n',
 'indonesia\tembassy\tburma\n',
 'poland\tcommonbloc2\tussr\n',
 'indonesia\texpeldiplomats\tcuba\n',
 'israel\trelngo\tusa\n',
 'israel\trelngo\tindia\n',
 'jordan\trelngo\tbrazil\n',
 'usa\tnegativebehavior\tegypt\n',
 'indonesia\tngoorgs3\tnetherlands\n',
 'usa\taccusation\tcuba\n',
 'indonesia\tmilitaryalliance\tusa\n',
 'china\tcommonbloc0\tbrazil\n',
 'usa\treltourism\tegypt\n',
 'china\tembassy\tindonesia\n',
 'egypt\treldiplomacy\tusa\n',
 'china\tintergovorgs3\tusa\n',
 'india\ttimesinceally\tcuba\n',
 'cuba\treltreaties\tuk\n',
 'burma\tintergovorgs3\tindonesia\n',
 'india\tnonviolentbehavior\tchina\n',
 'ussr\ttimesinceally\tchina\n',
 'jordan\tintergovorgs3\tisrael\n',
 'cuba\trelintergovorgs\tegypt\n',
 'indonesia\tstudents\tusa\n',
 'indonesia\tngoorgs3\tindia\n',
 'uk\ttimesinceally\tcuba\n',
 'burma\ttreaties\tchina\n',
 'netherlands\ttourism3\tuk\n',
 'israel\tintergovorgs3\tbrazil\n',
 'uk\ttimesinceally\tussr\n',
 'india\tcommonbloc1\tchina\n',
 'cuba\ttimesincewar\tusa\n',
 'jordan\trelintergovorgs\tcuba\n',
 'indonesia\tnegativecomm\tchina\n',
 'uk\tunweightedunvote\tjordan\n',
 'uk\tconferences\tindonesia\n',
 'netherlands\tcommonbloc1\tburma\n',
 'indonesia\tnegativecomm\tuk\n',
 'indonesia\tcommonbloc2\tburma\n',
 'egypt\ttreaties\tchina\n',
 'netherlands\tembassy\tchina\n',
 'indonesia\treltreaties\tchina\n',
 'netherlands\tngoorgs3\tindia\n',
 'burma\tcommonbloc1\tbrazil\n',
 'egypt\tembassy\tburma\n',
 'poland\tintergovorgs\tisrael\n',
 'jordan\tofficialvisits\tegypt\n',
 'cuba\treltreaties\tchina\n',
 'egypt\ttimesinceally\tussr\n',
 'poland\tintergovorgs3\tisrael\n',
 'jordan\tngoorgs3\tusa\n',
 'indonesia\trelngo\tusa\n',
 'brazil\tembassy\tuk\n',
 'cuba\tofficialvisits\tchina\n',
 'brazil\tintergovorgs3\tusa\n',
 'usa\tnegativecomm\tbrazil\n',
 'netherlands\tlostterritory\tindonesia\n',
 'usa\tweightedunvote\tussr\n',
 'egypt\tngoorgs3\tbrazil\n',
 'netherlands\trelintergovorgs\tuk\n',
 'egypt\tngoorgs3\tnetherlands\n',
 'egypt\tcommonbloc1\tuk\n',
 'jordan\tcommonbloc2\tindonesia\n',
 'ussr\tembassy\tnetherlands\n',
 'netherlands\tembassy\tussr\n',
 'netherlands\ttourism3\tussr\n',
 'netherlands\tcommonbloc0\tchina\n',
 'uk\ttimesinceally\tegypt\n',
 'egypt\tnegativebehavior\tisrael\n',
 'jordan\tweightedunvote\tuk\n',
 'poland\trelintergovorgs\tusa\n',
 'netherlands\trelexportbooks\tuk\n',
 'burma\tngoorgs3\tisrael\n',
 'india\trelexports\tusa\n',
 'poland\tindependence\tuk\n',
 'egypt\ttreaties\tindonesia\n',
 'indonesia\tembassy\tcuba\n',
 'cuba\ttourism3\tussr\n',
 'usa\ttimesinceally\tcuba\n',
 'poland\treldiplomacy\tindia\n',
 'usa\ttimesinceally\tnetherlands\n',
 'egypt\tcommonbloc2\tindia\n',
 'netherlands\tintergovorgs\tindonesia\n',
 'usa\tblockpositionindex\tussr\n',
 'china\trelexports\tussr\n',
 'israel\tembassy\tbrazil\n',
 'usa\tembassy\tbrazil\n',
 'burma\trelngo\tisrael\n',
 'china\tofficialvisits\tburma\n',
 'brazil\tcommonbloc1\tindia\n',
 'israel\tintergovorgs\tegypt\n',
 'netherlands\tcommonbloc2\tuk\n',
 'egypt\tindependence\tbrazil\n',
 'burma\trelintergovorgs\tegypt\n',
 'usa\tconferences\tindonesia\n',
 'brazil\texports3\tusa\n',
 'egypt\tcommonbloc1\tbrazil\n',
 'burma\tblockpositionindex\tusa\n',
 'egypt\tembassy\tussr\n',
 'china\ttimesinceally\tbrazil\n',
 'china\taccusation\tuk\n',
 'uk\tembassy\tnetherlands\n',
 'india\tintergovorgs\tburma\n',
 'usa\treltourism\tindia\n',
 'indonesia\tcommonbloc1\tnetherlands\n',
 'poland\trelexports\tusa\n',
 'ussr\ttimesinceally\tbrazil\n',
 'usa\tngoorgs3\tuk\n',
 'brazil\tintergovorgs\tpoland\n',
 'india\tstudents\tusa\n',
 'egypt\tindependence\tusa\n',
 'india\ttimesinceally\tbrazil\n',
 'uk\tduration\tindonesia\n',
 'indonesia\treldiplomacy\tuk\n',
 'uk\tintergovorgs3\tnetherlands\n',
 'israel\tintergovorgs3\tusa\n',
 'burma\texports3\tindia\n',
 'burma\treldiplomacy\tindonesia\n',
 'jordan\trelngo\tusa\n',
 'israel\tcommonbloc1\tnetherlands\n',
 'jordan\tngoorgs3\tnetherlands\n']

In [2]:
# Pick a model, TransE in our case
from pykeen.models import TransE
model = TransE(triples_factory=training_triples_factory)


# Pick an optimizer from Torch
# Adam: Adaptive Moment Estimation is an algorithm for optimization technique for gradient descent
from torch.optim import Adam
optimizer = Adam(params=model.get_grad_params())

No random seed is specified. This may lead to non-reproducible results.

* Pick a training approach (sLCWA or LCWA)  
* Whenever we have a knowledge graph we need to make certain assumptions to draw inferences from it.


* Closed World Assumption is one such assumption. It assumes that if a link is not present between two entities, then that link is false or the probability of a relationship between these entities is always zero. 


* We can immediately see problems with this assumption.   
* Once we assume this, we can’t predict any new links in the knowledge graph.   
* Collecting Real-world Data is a challenging task and lots of relationships are not captured in the knowledge graph. This assumption turns all the missing data into false values.  


* Local Closed World Assumption(LCWA) on the other hand, solves this problem by specifying a predicate over areas that says whether the area of the knowledge graph is complete or not.   
* Stochastic Local Closed World Assumption(sLCWA) is a stochastic version of the LCWA.

In [4]:
from pykeen.training import SLCWATrainingLoop
training_loop = SLCWATrainingLoop(
    model=model,
    triples_factory=training_triples_factory,
    optimizer=optimizer,
)

In [5]:
# ## Experiment training with different epochs and batch sizes

# Train it now
_ = training_loop.train(
    triples_factory=training_triples_factory,
    num_epochs=5,
    batch_size=256,
)

Training epochs on cuda:   0%|          | 0/5 [00:00<?, ?epoch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

In [6]:
# Pick an evaluator
# 'Nations' dataset also has a test set that can be used for evaluation  
from pykeen.evaluation import RankBasedEvaluator
evaluator = RankBasedEvaluator()

# Get triples to test
mapped_triples = dataset.testing.mapped_triples

In [7]:
## Evaluate the results obtained by printing and inspecting it


evaluation_results = evaluator.evaluate(model, mapped_triples, batch_size=256, additional_filter_triples=[dataset.training.mapped_triples])
print(evaluation_results)

Evaluating on cuda:   0%|          | 0.00/201 [00:00<?, ?triple/s]

RankBasedMetricResults(arithmetic_mean_rank={'head': {'realistic': 5.134328358208955, 'optimistic': 5.134328358208955, 'pessimistic': 5.134328358208955}, 'tail': {'realistic': 5.288557213930348, 'optimistic': 5.288557213930348, 'pessimistic': 5.288557213930348}, 'both': {'realistic': 5.211442786069652, 'optimistic': 5.211442786069652, 'pessimistic': 5.211442786069652}}, geometric_mean_rank={'head': {'realistic': 4.366388522795558, 'optimistic': 4.366388522795558, 'pessimistic': 4.366388522795558}, 'tail': {'realistic': 4.581606279479136, 'optimistic': 4.581606279479136, 'pessimistic': 4.581606279479136}, 'both': {'realistic': 4.472703106029479, 'optimistic': 4.472703106029479, 'pessimistic': 4.472703106029479}}, median_rank={'head': {'realistic': 5.0, 'optimistic': 5.0, 'pessimistic': 5.0}, 'tail': {'realistic': 5.0, 'optimistic': 5.0, 'pessimistic': 5.0}, 'both': {'realistic': 5.0, 'optimistic': 5.0, 'pessimistic': 5.0}}, harmonic_mean_rank={'head': {'realistic': 3.723962162527889, 'optimistic': 3.723962162527889, 'pessimistic': 3.723962162527889}, 'tail': {'realistic': 3.9632798735687613, 'optimistic': 3.9632798735687613, 'pessimistic': 3.9632798735687613}, 'both': {'realistic': 3.8398958220320614, 'optimistic': 3.8398958220320614, 'pessimistic': 3.8398958220320614}}, inverse_arithmetic_mean_rank={'head': {'realistic': 0.19476744186046513, 'optimistic': 0.19476744186046513, 'pessimistic': 0.19476744186046513}, 'tail': {'realistic': 0.18908748824082786, 'optimistic': 0.18908748824082786, 'pessimistic': 0.18908748824082786}, 'both': {'realistic': 0.1918854415274463, 'optimistic': 0.1918854415274463, 'pessimistic': 0.1918854415274463}}, inverse_geometric_mean_rank={'head': {'realistic': 0.2290222216322049, 'optimistic': 0.2290222216322049, 'pessimistic': 0.2290222216322049}, 'tail': {'realistic': 0.2182640626452271, 'optimistic': 0.2182640626452271, 'pessimistic': 0.2182640626452271}, 'both': {'realistic': 0.22357844379429936, 'optimistic': 0.22357844379429936, 'pessimistic': 0.22357844379429936}}, inverse_harmonic_mean_rank={'head': {'realistic': 0.2685311924117894, 'optimistic': 0.2685311924117894, 'pessimistic': 0.2685311924117894}, 'tail': {'realistic': 0.25231627134612206, 'optimistic': 0.25231627134612206, 'pessimistic': 0.25231627134612206}, 'both': {'realistic': 0.2604237318789558, 'optimistic': 0.2604237318789558, 'pessimistic': 0.2604237318789558}}, inverse_median_rank={'head': {'realistic': 0.2, 'optimistic': 0.2, 'pessimistic': 0.2}, 'tail': {'realistic': 0.2, 'optimistic': 0.2, 'pessimistic': 0.2}, 'both': {'realistic': 0.2, 'optimistic': 0.2, 'pessimistic': 0.2}}, rank_count={'head': {'realistic': 201, 'optimistic': 201, 'pessimistic': 201}, 'tail': {'realistic': 201, 'optimistic': 201, 'pessimistic': 201}, 'both': {'realistic': 402, 'optimistic': 402, 'pessimistic': 402}}, rank_std={'head': {'realistic': 2.917926352846932, 'optimistic': 2.917926352846932, 'pessimistic': 2.917926352846932}, 'tail': {'realistic': 2.8348082332608286, 'optimistic': 2.8348082332608286, 'pessimistic': 2.8348082332608286}, 'both': {'realistic': 2.877700921740352, 'optimistic': 2.877700921740352, 'pessimistic': 2.877700921740352}}, rank_var={'head': {'realistic': 8.514294200638599, 'optimistic': 8.514294200638599, 'pessimistic': 8.514294200638599}, 'tail': {'realistic': 8.036137719363381, 'optimistic': 8.036137719363381, 'pessimistic': 8.036137719363381}, 'both': {'realistic': 8.281162594985272, 'optimistic': 8.281162594985272, 'pessimistic': 8.281162594985272}}, rank_mad={'head': {'realistic': 2.0, 'optimistic': 2.0, 'pessimistic': 2.0}, 'tail': {'realistic': 2.0, 'optimistic': 2.0, 'pessimistic': 2.0}, 'both': {'realistic': 2.0, 'optimistic': 2.0, 'pessimistic': 2.0}}, hits_at_k={'head': {'realistic': {1: 0.0, 3: 0.39303482587064675, 5: 0.6169154228855721, 10: 0.9203980099502488}, 'optimistic': {1: 0.0, 3: 0.39303482587064675, 5: 0.6169154228855721, 10: 0.9203980099502488}, 'pessimistic': {1: 0.0, 3: 0.39303482587064675, 5: 0.6169154228855721, 10: 0.9203980099502488}}, 'tail': {'realistic': {1: 0.0, 3: 0.32338308457711445, 5: 0.6119402985074627, 10: 0.9353233830845771}, 'optimistic': {1: 0.0, 3: 0.32338308457711445, 5: 0.6119402985074627, 10: 0.9353233830845771}, 'pessimistic': {1: 0.0, 3: 0.32338308457711445, 5: 0.6119402985074627, 10: 0.9353233830845771}}, 'both': {'realistic': {1: 0.0, 3: 0.3582089552238806, 5: 0.6144278606965174, 10: 0.927860696517413}, 'optimistic': {1: 0.0, 3: 0.3582089552238806, 5: 0.6144278606965174, 10: 0.927860696517413}, 'pessimistic': {1: 0.0, 3: 0.3582089552238806, 5: 0.6144278606965174, 10: 0.927860696517413}}}, adjusted_arithmetic_mean_rank={'head': {'realistic': 1.0932203389830508}, 'tail': {'realistic': 1.0874680306905369}, 'both': {'realistic': 1.0902940411137134}}, adjusted_arithmetic_mean_rank_index={'head': {'realistic': -0.11843876177658141}, 'tail': {'realistic': -0.11010946555054724}, 'both': {'realistic': -0.11418229680816072}})

In [8]:
## PyKeen pipeline provides a high-level entry point to access the models. It is an alternative to the above


result = pipeline(
   training= dataset.training,
   testing=  dataset.testing ,
   model = 'TransE',
   model_kwargs=dict(embedding_dim=2),
   random_seed=1,
   device='cpu',    
)

Training epochs on cpu:   0%|          | 0/5 [00:00<?, ?epoch/s]

Training batches on cpu:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cpu:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cpu:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cpu:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cpu:   0%|          | 0/7 [00:00<?, ?batch/s]

INFO:pykeen.evaluation.evaluator:Currently automatic memory optimization only supports GPUs, but you're using a CPU. Therefore, the batch_size will be set to the default value.
INFO:pykeen.evaluation.evaluator:No evaluation batch_size provided. Setting batch_size to '32'.

Evaluating on cpu:   0%|          | 0.00/201 [00:00<?, ?triple/s]

INFO:pykeen.evaluation.evaluator:Evaluation took 0.08s seconds

In [13]:
# ## Explore 'RotatE' instead of 'TransE' as a new model and note your observations


# First comes the 'TransE'
model= result.model

# Predict the tail
df = get_tail_prediction_df(result.model, 'brazil', 'accusation', triples_factory=result.training)
display(df)

    tail_id   tail_label     score  in_training
12       12          usa -4.593426        False
5         5        india -4.795978        False
11       11           uk -4.809861        False
9         9  netherlands -4.810874        False
10       10       poland -4.901611        False
13       13         ussr -4.947122        False
0         0       brazil -4.955655        False
2         2        china -5.020988        False
6         6    indonesia -5.076213        False
4         4        egypt -5.145313        False
7         7       israel -5.261856        False
8         8       jordan -5.271912        False
1         1        burma -5.384801        False
3         3         cuba -5.491440        False

In [14]:
# train new 'RotatE' model
result = pipeline(
    dataset='Nations',
    model='RotatE', epochs= 5
)
model= result.model

# Then predict the tail
df = get_tail_prediction_df(result.model, 'brazil', 'accusation', triples_factory=result.training)
display(df)

WARNING:pykeen.pipeline.api:No random seed is specified. Setting to 4289501464.

Training epochs on cuda:   0%|          | 0/5 [00:00<?, ?epoch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

Training batches on cuda:   0%|          | 0/7 [00:00<?, ?batch/s]

INFO:pykeen.evaluation.evaluator:Starting batch_size search for evaluation now...
INFO:pykeen.evaluation.evaluator:Concluded batch_size search with batch_size=201.

Evaluating on cuda:   0%|          | 0.00/201 [00:00<?, ?triple/s]

INFO:pykeen.evaluation.evaluator:Evaluation took 0.09s seconds

    tail_id   tail_label     score  in_training
12       12          usa -4.470839        False
11       11           uk -4.592726        False
13       13         ussr -4.751820        False
10       10       poland -4.886285        False
9         9  netherlands -4.959569        False
2         2        china -4.986444        False
7         7       israel -4.991738        False
0         0       brazil -5.030600        False
4         4        egypt -5.067224        False
1         1        burma -5.082107        False
5         5        india -5.223567        False
3         3         cuba -5.246734        False
6         6    indonesia -5.268101        False
8         8       jordan -5.269431        False

In [15]:
df = get_head_prediction_df(result.model, 'accusation', 'brazil', triples_factory=result.training)
display(df)

    head_id   head_label     score  in_training
12       12          usa -4.594889        False
11       11           uk -4.792480        False
9         9  netherlands -4.906074        False
10       10       poland -5.026696        False
0         0       brazil -5.030600        False
7         7       israel -5.036422        False
2         2        china -5.047518        False
13       13         ussr -5.072237        False
5         5        india -5.073205        False
6         6    indonesia -5.121127        False
3         3         cuba -5.157119        False
4         4        egypt -5.206443        False
8         8       jordan -5.290693        False
1         1        burma -5.341416        False

In [16]:
df = get_relation_prediction_df(result.model, 'brazil', 'uk', triples_factory=result.training)
display(df)

WARNING:pykeen.models.base:Calculations will fall back to using the score_hrt method, since this model does not have a specific score_r function. This might cause the calculations to take longer than necessary.

    relation_id       relation_label     score  in_training
2             2        attackembassy -4.432677        False
46           46         timesincewar -4.530785        False
45           45        timesinceally -4.551143         True
8             8          commonbloc2 -4.551418         True
49           49             treaties -4.554054        False
1             1             aidenemy -4.567594        False
16           16       expeldiplomats -4.571178        False
38           38      relintergovorgs -4.584063         True
40           40          relstudents -4.584818        False
11           11             duration -4.592298        False
0             0           accusation -4.592726        False
12           12          economicaid -4.597969        False
48           48             tourism3 -4.605833        False
28           28             ngoorgs3 -4.614872         True
10           10            dependent -4.626073        False
27           27                  ngo -4.638680         True
52           52       violentactions -4.643669        False
22           22        lostterritory -4.651829        False
5             5       boycottembargo -4.658438        False
15           15           emigrants3 -4.658607        False
35           35         relemigrants -4.660670        False
13           13           eemigrants -4.662730        False
41           41           reltourism -4.664166        False
50           50         unoffialacts -4.666753        False
9             9          conferences -4.676155        False
31           31            pprotests -4.685324        False
44           44             students -4.686277        False
4             4     booktranslations -4.686350         True
47           47              tourism -4.690118        False
33           33         reldiplomacy -4.692647         True
29           29   nonviolentbehavior -4.692756        False
21           21        intergovorgs3 -4.707819         True
30           30       officialvisits -4.712368        False
32           32  relbooktranslations -4.725976         True
26           26         negativecomm -4.728539        False
6             6          commonbloc0 -4.729434        False
39           39               relngo -4.738881         True
17           17          exportbooks -4.740136        False
19           19         independence -4.743027         True
34           34       releconomicaid -4.744764        False
7             7          commonbloc1 -4.747756        False
37           37           relexports -4.751691         True
24           24     militaryalliance -4.752685        False
3             3   blockpositionindex -4.760837        False
23           23      militaryactions -4.761030        False
42           42          reltreaties -4.761570         True
14           14              embassy -4.762944        False
36           36       relexportbooks -4.765040        False
18           18             exports3 -4.782264         True
54           54       weightedunvote -4.800764         True
25           25     negativebehavior -4.805373        False
53           53              warning -4.810499        False
20           20         intergovorgs -4.816391         True
43           43      severdiplomatic -4.857956        False
51           51     unweightedunvote -4.877750         True

In [17]:
# Get scores for *all* triples
df = get_all_prediction_df(model, triples_factory=result.training)
display(df)

WARNING:pykeen.models.predict:_predict is an expensive operation, involving 10780 score evaluations.
WARNING:pykeen.models.predict:Not providing k to score_all_triples entails huge memory requirements for reasonably-sized knowledge graphs.

scoring:   0%|          | 0.00/770 [00:00<?, ?batch/s]

,head_id,head_label,relation_id,relation_label,tail_id,tail_label,score,in_training
0,11,uk,32,relbooktranslations,11,uk,-3.828930,False
1,12,usa,32,relbooktranslations,12,usa,-3.948582,False
2,11,uk,34,releconomicaid,11,uk,-4.016978,False
3,11,uk,10,dependent,12,usa,-4.025353,False
4,11,uk,37,relexports,11,uk,-4.042844,False
...,...,...,...,...,...,...,...,...
10775,1,burma,36,relexportbooks,1,burma,-5.927726,False
10776,1,burma,8,commonbloc2,1,burma,-5.933246,False
10777,8,jordan,42,reltreaties,1,burma,-5.958352,False
10778,1,burma,54,weightedunvote,1,burma,-6.039948,False
10779,1,burma,49,treaties,1,burma,-6.046717,False

In [18]:
# Get scores for top 15 triples
top_df = get_all_prediction_df(model, k=15, triples_factory=result.training)
display(top_df)

WARNING:pykeen.models.predict:_predict is an expensive operation, involving 10780 score evaluations.

scoring:   0%|          | 0.00/770 [00:00<?, ?batch/s]

,head_id,head_label,relation_id,relation_label,tail_id,tail_label,score,in_training
0,11,uk,32,relbooktranslations,11,uk,-3.828930,False
1,12,usa,32,relbooktranslations,12,usa,-3.948582,False
2,11,uk,34,releconomicaid,11,uk,-4.016978,False
3,11,uk,10,dependent,12,usa,-4.025353,False
4,11,uk,37,relexports,11,uk,-4.042844,False
5,12,usa,27,ngo,11,uk,-4.043432,True
6,12,usa,25,negativebehavior,12,usa,-4.077655,False
7,12,usa,17,exportbooks,12,usa,-4.078964,False
8,11,uk,19,independence,12,usa,-4.084710,True
9,12,usa,18,exports3,11,uk,-4.091799,False
10,12,usa,37,relexports,12,usa,-4.096707,False
11,11,uk,43,severdiplomatic,12,usa,-4.099671,False
12,11,uk,16,expeldiplomats,11,uk,-4.101359,False
13,11,uk,27,ngo,11,uk,-4.105155,False
14,11,uk,30,officialvisits,12,usa,-4.105529,True