In [3]:
# !pip install pyspark

In [4]:
import pyspark
from itertools import permutations

In [5]:
sc = pyspark.SparkContext('local[*]')

In [6]:
from google.colab import drive 
drive.mount('drive')

Mounted at drive

In [8]:
# Importing db.txt from Google drive

import os
import zipfile
import numpy as np

dir = "/content/drive/My Drive/Colab Notebooks/Spark"
files = os.listdir(dir)
files

['Assignment_1.ipynb', 'db.txt']

In [9]:
# Reading the file

lines = sc.textFile(dir + '/db.txt') 
lines.take(3)

['0\t1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94',
 '1\t0,5,20,135,2409,8715,8932,10623,12347,12846,13840,13845,14005,20075,21556,22939,23520,28193,29724,29791,29826,30691,31232,31435,32317,32489,34394,35589,35605,35606,35613,35633,35648,35678,38737,43447,44846,44887,49226,49985,623,629,4999,6156,13912,14248,15190,17636,19217,20074,27536,29481,29726,29767,30257,33060,34250,34280,34392,34406,34418,34420,34439,34450,34651,45054,49592',
 '2\t0,117,135,1220,2755,12453,24539,24714,41456,45046,49927,6893,13795,16659,32828,41878']

In [11]:
# Splitting the file based on the \t and then splitting the list of friends from a string to an array of characters

lines = lines.map(lambda line:line.split())
friends = lines.filter(lambda x:len(x)==2)
friends = friends.map(lambda x:(x[0], x[1].split(",")))
friends.take(3)

[('0',
  ['1',
   '2',
   '3',
   '4',
   '5',
   '6',
   '7',
   '8',
   '9',
   '10',
   '11',
   '12',
   '13',
   '14',
   '15',
   '16',
   '17',
   '18',
   '19',
   '20',
   '21',
   '22',
   '23',
   '24',
   '25',
   '26',
   '27',
   '28',
   '29',
   '30',
   '31',
   '32',
   '33',
   '34',
   '35',
   '36',
   '37',
   '38',
   '39',
   '40',
   '41',
   '42',
   '43',
   '44',
   '45',
   '46',
   '47',
   '48',
   '49',
   '50',
   '51',
   '52',
   '53',
   '54',
   '55',
   '56',
   '57',
   '58',
   '59',
   '60',
   '61',
   '62',
   '63',
   '64',
   '65',
   '66',
   '67',
   '68',
   '69',
   '70',
   '71',
   '72',
   '73',
   '74',
   '75',
   '76',
   '77',
   '78',
   '79',
   '80',
   '81',
   '82',
   '83',
   '84',
   '85',
   '86',
   '87',
   '88',
   '89',
   '90',
   '91',
   '92',
   '93',
   '94']),
 ('1',
  ['0',
   '5',
   '20',
   '135',
   '2409',
   '8715',
   '8932',
   '10623',
   '12347',
   '12846',
   '13840',
   '13845',
   '14005',
   '20075',
   '21556',
   '22939',
   '23520',
   '28193',
   '29724',
   '29791',
   '29826',
   '30691',
   '31232',
   '31435',
   '32317',
   '32489',
   '34394',
   '35589',
   '35605',
   '35606',
   '35613',
   '35633',
   '35648',
   '35678',
   '38737',
   '43447',
   '44846',
   '44887',
   '49226',
   '49985',
   '623',
   '629',
   '4999',
   '6156',
   '13912',
   '14248',
   '15190',
   '17636',
   '19217',
   '20074',
   '27536',
   '29481',
   '29726',
   '29767',
   '30257',
   '33060',
   '34250',
   '34280',
   '34392',
   '34406',
   '34418',
   '34420',
   '34439',
   '34450',
   '34651',
   '45054',
   '49592']),
 ('2',
  ['0',
   '117',
   '135',
   '1220',
   '2755',
   '12453',
   '24539',
   '24714',
   '41456',
   '45046',
   '49927',
   '6893',
   '13795',
   '16659',
   '32828',
   '41878'])]

In [12]:
# For each user id making a key value pair with each seperate friend and 
# assigning a score of -10000 to each unique key value pair between user and friend

directFriends = friends.flatMap(lambda x:[((x[0],friend), -10000) for friend in x[1]])
directFriends.take(1)

[(('0', '1'), -10000)]

In [13]:
# Here we take all the possible pair permutations from the list of friends 
# for each user so we can see the number of times each friend appears with another friend

# For example
# User: List of Friends
# 1: 3, 4, 5
# 2: 4, 5, 6

# Here the pair 4,5 will be mapped twice as ((4,5),1)

mutualFriends = friends.flatMap(lambda data: [(pair, 1) for pair in permutations(data[1], 2)])
mutualFriends.take(1)

[(('1', '2'), 1)]

In [14]:
# We then take a union of all the pairs of mutual friends calculated above and all the direct friend pairs

fullList = directFriends.union(mutualFriends)
fullList.take(3)

[(('0', '1'), -10000), (('0', '2'), -10000), (('0', '3'), -10000)]

In [15]:
# We then reduce by key with the adding operation. This ensures that already 
# direct friend pairs when added up with mutual friends remain in the negative and mutual friends 
# which aren't already direct friends are excluded

fullList = fullList.reduceByKey(lambda x,y:x+y)
fullList.take(2)

[(('0', '54'), -10000), (('1', '14248'), -10000)]

In [16]:
# We exclude these by taking the count above 0 so we get the mutual friends 
# which aren't already direct friends

mutualCount = fullList.filter(lambda x: x[1] > 0)
mutualCount.take(2)

[(('90', '2'), 1), (('25195', '8703'), 1)]

In [17]:
# We then manipulate our  data from (user, friend), count to user, (count, friend)

mutualCount = mutualCount.map(lambda x: (x[0][0], (x[1], x[0][1]))).groupByKey().mapValues(lambda x: list(x))
mutualCount.take(2)

[('15232',
  [(1, '19046'),
   (1, '40240'),
   (2, '8380'),
   (1, '10622'),
   (1, '39821'),
   (1, '15245'),
   (1, '24300'),
   (1, '15270'),
   (1, '15266'),
   (1, '17212'),
   (1, '15240'),
   (1, '15247'),
   (1, '15262'),
   (1, '42025'),
   (1, '15271'),
   (1, '39829'),
   (1, '15255'),
   (1, '15272'),
   (2, '39963'),
   (1, '40776'),
   (1, '39781'),
   (2, '39782'),
   (1, '25733'),
   (1, '1974'),
   (2, '40418'),
   (1, '47824'),
   (1, '15236'),
   (1, '39835'),
   (1, '15260'),
   (1, '15237'),
   (1, '1406'),
   (2, '17767'),
   (2, '39819'),
   (1, '40770'),
   (1, '15246'),
   (1, '15273'),
   (1, '15276'),
   (1, '15243'),
   (1, '15239'),
   (1, '15254'),
   (1, '15253'),
   (1, '15268'),
   (1, '15275'),
   (1, '11132'),
   (1, '39430'),
   (1, '15235'),
   (1, '15251'),
   (1, '15263'),
   (1, '8798'),
   (1, '7018'),
   (1, '15376'),
   (1, '15264'),
   (1, '15248'),
   (1, '16350'),
   (1, '9983'),
   (1, '15259'),
   (1, '15242'),
   (1, '39881'),
   (1, '15234'),
   (1, '2206'),
   (1, '17198'),
   (2, '15267'),
   (1, '15238'),
   (1, '40889'),
   (1, '39753'),
   (1, '17265'),
   (1, '15274'),
   (1, '15233'),
   (1, '15261'),
   (1, '15252'),
   (1, '15269'),
   (1, '15241'),
   (1, '39767'),
   (2, '17157'),
   (1, '15265'),
   (2, '15250'),
   (1, '17252'),
   (1, '10628'),
   (1, '39779'),
   (1, '15256'),
   (1, '15249'),
   (1, '15258'),
   (1, '39757'),
   (1, '6961'),
   (1, '15244'),
   (1, '17743'),
   (1, '10620'),
   (1, '15257'),
   (1, '15398')]),
 ('49964',
  [(1, '49935'),
   (1, '49919'),
   (1, '42464'),
   (1, '49956'),
   (1, '49917'),
   (1, '49937'),
   (1, '49934'),
   (2, '49927'),
   (1, '35560'),
   (1, '49930'),
   (1, '1045'),
   (1, '49922'),
   (1, '49950'),
   (1, '49943'),
   (1, '347'),
   (1, '49905'),
   (4, '49915'),
   (7, '49977'),
   (1, '18991'),
   (1, '49968'),
   (2, '49982'),
   (1, '25157'),
   (1, '49898'),
   (1, '49933'),
   (1, '49948'),
   (1, '49962'),
   (1, '49901'),
   (1, '49958'),
   (1, '49897'),
   (1, '34172'),
   (1, '49938'),
   (1, '49987'),
   (1, '49941'),
   (1, '49911'),
   (1, '49916'),
   (1, '49903'),
   (1, '49910'),
   (1, '49974'),
   (1, '49975'),
   (1, '49976'),
   (1, '49906'),
   (1, '49980'),
   (1, '49909'),
   (1, '49966'),
   (1, '49900'),
   (1, '5023'),
   (2, '49899'),
   (1, '43456'),
   (1, '49921'),
   (6, '49979'),
   (1, '49929'),
   (1, '34390'),
   (1, '8323'),
   (1, '49931'),
   (1, '49945'),
   (2, '49972'),
   (1, '49981'),
   (1, '49923'),
   (1, '49912'),
   (1, '1216'),
   (3, '49913'),
   (1, '49920'),
   (1, '49918'),
   (1, '49967'),
   (1, '49984'),
   (1, '49954'),
   (1, '49932'),
   (1, '49925'),
   (1, '49926'),
   (1, '49971'),
   (1, '42062'),
   (1, '19017'),
   (1, '49914'),
   (1, '49908'),
   (1, '49983'),
   (1, '42866'),
   (1, '49959'),
   (1, '49904'),
   (1, '43401'),
   (7, '49949'),
   (1, '49942'),
   (1, '49907'),
   (1, '49946'),
   (2, '49978'),
   (1, '49902'),
   (1, '49969'),
   (1, '49924'),
   (1, '49944'),
   (1, '49970'),
   (1, '49947'),
   (1, '49939'),
   (1, '49928'),
   (1, '49953'),
   (1, '49940'),
   (1, '49961'),
   (1, '49965')])]

In [18]:
def sortList(inputList):
#     inputList.sort(key=lambda v: -v[0])
    inputList.sort(key=lambda i:i[0],reverse=True)
    return inputList

In [19]:
# We sort the list of each user according to the highest count

mutualCount = mutualCount.map(lambda x:(x[0], sortList(x[1])))
mutualCount.take(2)

[('17257',
  [(3, '17245'),
   (2, '40776'),
   (2, '17227'),
   (2, '39928'),
   (2, '17269'),
   (2, '17208'),
   (2, '17187'),
   (2, '17264'),
   (2, '17196'),
   (2, '39584'),
   (2, '17210'),
   (2, '39784'),
   (2, '17198'),
   (2, '17237'),
   (2, '17255'),
   (2, '17267'),
   (2, '17268'),
   (2, '17235'),
   (2, '17234'),
   (2, '17266'),
   (1, '1436'),
   (1, '40592'),
   (1, '9657'),
   (1, '17217'),
   (1, '14857'),
   (1, '14454'),
   (1, '17213'),
   (1, '11757'),
   (1, '39890'),
   (1, '17197'),
   (1, '26525'),
   (1, '33355'),
   (1, '17242'),
   (1, '39729'),
   (1, '17195'),
   (1, '25372'),
   (1, '40240'),
   (1, '39479'),
   (1, '23476'),
   (1, '17221'),
   (1, '12311'),
   (1, '17189'),
   (1, '17233'),
   (1, '17239'),
   (1, '17175'),
   (1, '35995'),
   (1, '12231'),
   (1, '2902'),
   (1, '17212'),
   (1, '17228'),
   (1, '17229'),
   (1, '1661'),
   (1, '17258'),
   (1, '17181'),
   (1, '2924'),
   (1, '9982'),
   (1, '17582'),
   (1, '31270'),
   (1, '33557'),
   (1, '17244'),
   (1, '40687'),
   (1, '1982'),
   (1, '17260'),
   (1, '17278'),
   (1, '17199'),
   (1, '39799'),
   (1, '17219'),
   (1, '40262'),
   (1, '17230'),
   (1, '45564'),
   (1, '30818'),
   (1, '39766'),
   (1, '6642'),
   (1, '16410'),
   (1, '17188'),
   (1, '41308'),
   (1, '21760'),
   (1, '17222'),
   (1, '17575'),
   (1, '17251'),
   (1, '6570'),
   (1, '39825'),
   (1, '10727'),
   (1, '17202'),
   (1, '11211'),
   (1, '20150'),
   (1, '17238'),
   (1, '33331'),
   (1, '40902'),
   (1, '46242'),
   (1, '17249'),
   (1, '17206'),
   (1, '23503'),
   (1, '17224'),
   (1, '17182'),
   (1, '23987'),
   (1, '17262'),
   (1, '39786'),
   (1, '1432'),
   (1, '17186'),
   (1, '17236'),
   (1, '39942'),
   (1, '17192'),
   (1, '19457'),
   (1, '4400'),
   (1, '12694'),
   (1, '17214'),
   (1, '30293'),
   (1, '39975'),
   (1, '30990'),
   (1, '40402'),
   (1, '1406'),
   (1, '40870'),
   (1, '1426'),
   (1, '17218'),
   (1, '2648'),
   (1, '4527'),
   (1, '8891'),
   (1, '17270'),
   (1, '17232'),
   (1, '4522'),
   (1, '40579'),
   (1, '17200'),
   (1, '17247'),
   (1, '17203'),
   (1, '17220'),
   (1, '30443'),
   (1, '33720'),
   (1, '39939'),
   (1, '41311'),
   (1, '17243'),
   (1, '17261'),
   (1, '41106'),
   (1, '17616'),
   (1, '10605'),
   (1, '7038'),
   (1, '15259'),
   (1, '17999'),
   (1, '1969'),
   (1, '34026'),
   (1, '41025'),
   (1, '18309'),
   (1, '40671'),
   (1, '17259'),
   (1, '17193'),
   (1, '15374'),
   (1, '40686'),
   (1, '17225'),
   (1, '15376'),
   (1, '17190'),
   (1, '6202'),
   (1, '17201'),
   (1, '17215'),
   (1, '39762'),
   (1, '17216'),
   (1, '40896'),
   (1, '40610'),
   (1, '40087'),
   (1, '17223'),
   (1, '11190'),
   (1, '6653'),
   (1, '17253'),
   (1, '12193'),
   (1, '17191'),
   (1, '45461'),
   (1, '31454'),
   (1, '17226'),
   (1, '36079'),
   (1, '10821'),
   (1, '31051'),
   (1, '20154'),
   (1, '41294'),
   (1, '40779'),
   (1, '39548'),
   (1, '33321'),
   (1, '17240'),
   (1, '40585'),
   (1, '17185'),
   (1, '37'),
   (1, '17252'),
   (1, '17209'),
   (1, '17184'),
   (1, '30996'),
   (1, '39629'),
   (1, '17205'),
   (1, '16836'),
   (1, '30995'),
   (1, '40678'),
   (1, '17263'),
   (1, '39783'),
   (1, '40906'),
   (1, '4521'),
   (1, '8307'),
   (1, '24000'),
   (1, '17231'),
   (1, '45689'),
   (1, '17183'),
   (1, '26707'),
   (1, '10620'),
   (1, '17207'),
   (1, '25391'),
   (1, '17265'),
   (1, '17254'),
   (1, '12187'),
   (1, '17163'),
   (1, '19506'),
   (1, '17204'),
   (1, '17246'),
   (1, '17248'),
   (1, '31304'),
   (1, '40805'),
   (1, '39974'),
   (1, '17194'),
   (1, '6681'),
   (1, '28664'),
   (1, '6639'),
   (1, '23775'),
   (1, '17256'),
   (1, '11542'),
   (1, '17241'),
   (1, '17250'),
   (1, '17211')]),
 ('11575',
  [(4, '8400'),
   (3, '12715'),
   (3, '11569'),
   (3, '11577'),
   (3, '562'),
   (2, '19664'),
   (2, '11571'),
   (2, '12714'),
   (2, '12784'),
   (2, '28613'),
   (2, '30712'),
   (2, '12789'),
   (2, '11244'),
   (2, '6397'),
   (2, '45528'),
   (2, '13400'),
   (2, '28109'),
   (2, '8438'),
   (2, '14808'),
   (2, '12732'),
   (2, '10469'),
   (2, '12750'),
   (2, '12049'),
   (2, '8446'),
   (2, '49412'),
   (2, '15303'),
   (2, '43235'),
   (2, '8508'),
   (2, '6977'),
   (2, '2249'),
   (2, '22338'),
   (2, '8423'),
   (2, '11557'),
   (2, '10492'),
   (2, '8443'),
   (2, '11555'),
   (2, '28762'),
   (2, '27312'),
   (2, '27367'),
   (2, '12771'),
   (2, '12834'),
   (2, '16350'),
   (2, '14875'),
   (2, '27359'),
   (2, '23382'),
   (2, '5061'),
   (2, '8427'),
   (2, '27296'),
   (2, '12783'),
   (2, '11562'),
   (1, '3560'),
   (1, '5766'),
   (1, '28532'),
   (1, '4518'),
   (1, '3557'),
   (1, '20912'),
   (1, '2101'),
   (1, '14268'),
   (1, '24734'),
   (1, '18096'),
   (1, '11581'),
   (1, '42444'),
   (1, '13698'),
   (1, '12210'),
   (1, '45638'),
   (1, '468'),
   (1, '628'),
   (1, '351'),
   (1, '49418'),
   (1, '6215'),
   (1, '27357'),
   (1, '10535'),
   (1, '45637'),
   (1, '28151'),
   (1, '45519'),
   (1, '30838'),
   (1, '42479'),
   (1, '2841'),
   (1, '15465'),
   (1, '43776'),
   (1, '16640'),
   (1, '44495'),
   (1, '17974'),
   (1, '6875'),
   (1, '23169'),
   (1, '5960'),
   (1, '17439'),
   (1, '28887'),
   (1, '11565'),
   (1, '28028'),
   (1, '1897'),
   (1, '14974'),
   (1, '30850'),
   (1, '4102'),
   (1, '28800'),
   (1, '11539'),
   (1, '10937'),
   (1, '6925'),
   (1, '14283'),
   (1, '106'),
   (1, '24075'),
   (1, '11878'),
   (1, '10516'),
   (1, '11559'),
   (1, '19650'),
   (1, '30762'),
   (1, '10350'),
   (1, '10408'),
   (1, '9201'),
   (1, '8425'),
   (1, '11558'),
   (1, '12069'),
   (1, '10533'),
   (1, '11583'),
   (1, '42815'),
   (1, '10797'),
   (1, '10508'),
   (1, '14380'),
   (1, '41878'),
   (1, '25476'),
   (1, '45801'),
   (1, '11568'),
   (1, '42474'),
   (1, '47610'),
   (1, '11537'),
   (1, '24681'),
   (1, '4295'),
   (1, '1661'),
   (1, '5234'),
   (1, '12707'),
   (1, '11547'),
   (1, '31310'),
   (1, '12811'),
   (1, '27889'),
   (1, '2103'),
   (1, '14426'),
   (1, '43038'),
   (1, '11588'),
   (1, '39515'),
   (1, '11586'),
   (1, '12770'),
   (1, '45482'),
   (1, '26413'),
   (1, '11578'),
   (1, '29622'),
   (1, '17218'),
   (1, '43662'),
   (1, '27347'),
   (1, '45710'),
   (1, '20569'),
   (1, '4101'),
   (1, '41704'),
   (1, '758'),
   (1, '16670'),
   (1, '23933'),
   (1, '3928'),
   (1, '26267'),
   (1, '12787'),
   (1, '5760'),
   (1, '27736'),
   (1, '2678'),
   (1, '10900'),
   (1, '26108'),
   (1, '20853'),
   (1, '9872'),
   (1, '551'),
   (1, '43037'),
   (1, '23235'),
   (1, '42481'),
   (1, '37026'),
   (1, '15458'),
   (1, '23223'),
   (1, '2496'),
   (1, '29686'),
   (1, '28528'),
   (1, '11584'),
   (1, '33976'),
   (1, '30155'),
   (1, '20648'),
   (1, '33051'),
   (1, '24048'),
   (1, '14376'),
   (1, '42152'),
   (1, '27283'),
   (1, '30851'),
   (1, '17649'),
   (1, '12822'),
   (1, '11552'),
   (1, '11553'),
   (1, '3374'),
   (1, '13034'),
   (1, '11549'),
   (1, '27255'),
   (1, '11573'),
   (1, '14359'),
   (1, '3898'),
   (1, '21520'),
   (1, '45665'),
   (1, '3333'),
   (1, '1387'),
   (1, '11587'),
   (1, '14476'),
   (1, '23218'),
   (1, '11881'),
   (1, '22398'),
   (1, '35135'),
   (1, '19687'),
   (1, '11546'),
   (1, '12773'),
   (1, '27323'),
   (1, '30787'),
   (1, '30721'),
   (1, '1502'),
   (1, '25527'),
   (1, '11208'),
   (1, '11576'),
   (1, '11580'),
   (1, '36602'),
   (1, '9553'),
   (1, '1220'),
   (1, '8929'),
   (1, '10468'),
   (1, '26433'),
   (1, '43680'),
   (1, '28712'),
   (1, '9415'),
   (1, '11582'),
   (1, '3353'),
   (1, '10709'),
   (1, '11541'),
   (1, '47245'),
   (1, '11554'),
   (1, '14391'),
   (1, '19621'),
   (1, '10792'),
   (1, '9928'),
   (1, '11563'),
   (1, '12786'),
   (1, '11570'),
   (1, '14477'),
   (1, '11564'),
   (1, '15627'),
   (1, '2080'),
   (1, '8492'),
   (1, '14324'),
   (1, '11566'),
   (1, '27331'),
   (1, '42554'),
   (1, '39651'),
   (1, '4467'),
   (1, '10703'),
   (1, '45493'),
   (1, '28127'),
   (1, '12517'),
   (1, '13238'),
   (1, '24935'),
   (1, '8065'),
   (1, '10531'),
   (1, '44028'),
   (1, '28619'),
   (1, '48908'),
   (1, '13284'),
   (1, '30781'),
   (1, '3954'),
   (1, '11585'),
   (1, '27344'),
   (1, '11548'),
   (1, '44032'),
   (1, '11567'),
   (1, '15660'),
   (1, '590'),
   (1, '30159'),
   (1, '47366'),
   (1, '25781'),
   (1, '32178'),
   (1, '6785'),
   (1, '12702'),
   (1, '19620'),
   (1, '45385'),
   (1, '10240'),
   (1, '25331'),
   (1, '27913'),
   (1, '64'),
   (1, '11550'),
   (1, '12798'),
   (1, '17451'),
   (1, '11561'),
   (1, '39427'),
   (1, '8436'),
   (1, '11572'),
   (1, '3368'),
   (1, '26349'),
   (1, '4673'),
   (1, '4141'),
   (1, '28150'),
   (1, '11545'),
   (1, '44460'),
   (1, '11540'),
   (1, '30137'),
   (1, '28116'),
   (1, '49774'),
   (1, '27707'),
   (1, '22074'),
   (1, '10546'),
   (1, '33723'),
   (1, '6934'),
   (1, '363'),
   (1, '41697'),
   (1, '3304'),
   (1, '7599'),
   (1, '11225'),
   (1, '30131'),
   (1, '21926'),
   (1, '44500'),
   (1, '11220'),
   (1, '21159'),
   (1, '594'),
   (1, '369'),
   (1, '30182'),
   (1, '27355'),
   (1, '22069'),
   (1, '14385'),
   (1, '2050'),
   (1, '14469'),
   (1, '8810'),
   (1, '23450'),
   (1, '12731'),
   (1, '36506'),
   (1, '11544'),
   (1, '45480'),
   (1, '7173'),
   (1, '11538'),
   (1, '45992'),
   (1, '11031'),
   (1, '12749'),
   (1, '12705'),
   (1, '606'),
   (1, '5988'),
   (1, '21722'),
   (1, '8428'),
   (1, '11574'),
   (1, '28117'),
   (1, '16283'),
   (1, '11551'),
   (1, '30870'),
   (1, '11560'),
   (1, '4139'),
   (1, '26014'),
   (1, '14318'),
   (1, '27334'),
   (1, '23760'),
   (1, '45999'),
   (1, '4044'),
   (1, '42726'),
   (1, '22239'),
   (1, '10753'),
   (1, '20500'),
   (1, '27343'),
   (1, '11542'),
   (1, '11543'),
   (1, '19632'),
   (1, '14264'),
   (1, '15468'),
   (1, '11556'),
   (1, '5995'),
   (1, '12792'),
   (1, '6861'),
   (1, '30793'),
   (1, '11579'),
   (1, '48488'),
   (1, '25807'),
   (1, '4736'),
   (1, '19669'),
   (1, '45427'),
   (1, '6858')])]

In [20]:
# Finally we remove the count and we simply display the friends in order of highest count mutual friends

mutualCount = mutualCount.map(lambda x:(x[0],x[1][:10]))
mutualCount = mutualCount.map(lambda x:(x[0],[int(i[1]) for i in x[1]]))
mutualCount.take(2)

[('33015',
  [33031, 33036, 33026, 33037, 33098, 33052, 33048, 33013, 33029, 33033]),
 ('49878',
  [49876, 24866, 49864, 35596, 35722, 49862, 35593, 13661, 35580, 35671])]

In [21]:
# Here we can see the order is not the same as the one in the file but that is because 
# friends with same count have no specific order and we have capped them at 10

# For example
# User and Counts
# User : [4,3,3,3,3,2,2,2,2,2],2,2,2,2 
# Ones out of 10 cap also may be ignored.

mutualCount.filter(lambda x: x[0] == '11').take(1)

[('11', [27552, 32072, 33192, 27667, 27590, 27600, 27617, 7785, 27620, 27573])]

In [27]:
# Lastly we look at the list of all the recommendations for the given user

recommendedUsersList = ['1211', '9993','19978', '24211', '4774', '2017', '10709', '9206', '24435', '24444']
for l in recommendedUsersList:
    finalOutput = mutualCount.filter(lambda x: x[0] == l).take(1)
    print(finalOutput)

[('1211', [1200, 1214, 1197, 1189, 1184, 1207, 1194, 1170, 1173, 1177])]
[('9993', [9991, 34642, 13134, 34299, 34485, 13877, 13478, 37941])]
[('19978', [20073, 36559, 20078, 4782, 26808, 32892, 45546, 19358, 28722, 45545])]
[('24211', [13572, 24202, 343, 24224, 24213, 24229, 16796, 43249, 24244, 24245])]
[('4774', [367, 13596, 13577, 36559, 385, 12612, 28737, 22621, 14514, 656])]
[('2017', [29276, 4591, 3474, 3770, 3230, 30119, 7402, 42119, 43501, 11544])]
[('10709', [10732, 27312, 13654, 338, 11214, 9553, 30870, 45501, 45453, 12599])]
[('9206', [2036, 6303, 2659, 15843, 7242, 44651, 12344, 15710, 27866, 16643])]
[('24435', [23993, 22633, 40868, 18013, 24432, 23880, 40688, 24428, 7036, 37827])]
[('24444', [24446, 23883, 15843, 7242, 24453, 6545, 40868, 22542, 24433, 24258])]