## Into to Text Mining

https://towardsdatascience.com/natural-language-processing-a1496244c15c

#### Syntactic And Symantic Analysis
Natural Language Processing tasks are primarily achieved by syntactic analysis and semantic analysis.

The term syntax refers the grammatical structure of the text, whereas semantics refers to the meaning of the sentence

SYNTACTIC ANALYSIS
: analyzes natural language using formal grammar.
    - Parsing — Involves undertaking grammatical analysis for the provided sentence.
    - Lemmatization — reduces various inflected forms of a word into a single form.
    - Stemming — Cuts the inflected words to their root form.
    - Word segmentation — divides a large piece of continuous text into distinct units.
    - Morphological segmentation — divides words into individual units.
    - Part-of-speech tagging — identify the part of speech for every word.
    - Sentence breaking — Places sentence boundaries on a large piece of text
SEMANTIC ANALYSIS: is the process of understanding and interpreting the words, signs, tone and structure of the sentence. This task analyzes the meaning or logic behind the sentence
    - Named entity recognition (NER) — determine the parts of a text that can be identified and categorized into preset groups, like names of people and objects.
    - Word sense disambiguation — give meaning to words based on their context
    - Natural language generation (NLG):— It involves using databases to derive semantic intentions and convert them into human language

* What can be done with the text? 
    1. Parse the text -> Understand what the text means
    2. Find/Extract Information
    3. CLassify Text Documents
    4. Search for relevant text documents
    5. Sentiment Analysis -> See if something is +ve or -ve
    6. Topic Modelling -> What is the topic being discussed

In [1]:
# HANDLING TEXT IN PYTHON
# Primitive Construct: Sentences/Input Strings, Words/Tokens, Characters, Document/Larger Files
t1 = 'Ethics are built right into the ideals and objectives of the United Nations '
print('Characters: ',len(t1))
t2 = t1.split(' ')
print(t2)

Characters:  76
['Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations', '']

In [2]:
t3 = [w for w in t2 if len(w) > 3]
print(t3)
# Capitalized Letters
t4 = [w for w in t2 if w.istitle()]
t4

['Ethics', 'built', 'right', 'into', 'ideals', 'objectives', 'United', 'Nations']

['Ethics', 'United', 'Nations']

In [3]:
# Endswith s
t5 = [w for w in t2 if w.endswith('s')]
print(t5)
# Unique words
t6 ='To be or not to be'
t7 = t6.split(' ')
t7 = set(t7)
print(t7)

['Ethics', 'ideals', 'objectives', 'Nations']
{'or', 'not', 'be', 'to', 'To'}

In [4]:
t8 = set([w.lower() for w in t7])
print(t8)
# WORD COMPARISONS

# s.startswith(t)
# s.endswith(t)
# t in s // Substring
# s.isupper(), s.islower(), s.istitle()
# s.isalpha() // Only a-z or A-Z (not even spaces)
# s.isdigit() // Has to be a digit
# s.isalnum() // Has to be alpha or digit
# s.splitlines // split on end of line
# s.join(t) // Join an array of words t back to senstence s
# s.strip() // Takes or removes whitespaces
# s.rstrip() // Takes out whitespaces from the end of the string
# s.find(t) // find substring t starting from the start
# s.rfind(t) // begin finding from the end
# s.replace(u,v)

{'or', 'not', 'to', 'be'}

In [5]:
t9 = 'ouagadougou'
t9 = t9.split('ou')
print(t9)
t10 = 'ou'.join(t9)
print(t10)
print(list(t10)) # list of chars

['', 'agad', 'g', '']
ouagadougou
['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [37]:
s = '      A quick brown fox jumped over the lazy dog '
print(s.split(' '))
s = s.strip().split()
s

['', '', '', '', '', '', 'A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog', '']

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

In [10]:
f = open('abc.txt', 'r')
print(f.readline()) # Reads first line
f.seek(0) # Starts reading from the start again
f = f.read()# Reads whole file
# f.read(n) # Reads n characters of the file
print(f)
print(len(f)) # Number of characters
print(f.splitlines()) # lines put in an array
# f.write(message)
# f.close() close the file
# f.closed // check if file is closed

You fill up my senses

You fill up my senses
Like a night in a forest
Like the mountains in springtime
Like a walk in the rain
Like a storm in the desert
Like a sleepy blue ocean

You fill up my senses
Come fill me again
Come let me love you
Let me give my life to you
Let me drown in your laughter
Let me die in your arms
Let me lay down beside you
Let me always be with you
Come let me love you
Come love me again
392
['You fill up my senses', 'Like a night in a forest', 'Like the mountains in springtime', 'Like a walk in the rain', 'Like a storm in the desert', 'Like a sleepy blue ocean', '', 'You fill up my senses', 'Come fill me again', 'Come let me love you', 'Let me give my life to you', 'Let me drown in your laughter', 'Let me die in your arms', 'Let me lay down beside you', 'Let me always be with you', 'Come let me love you', 'Come love me again']

## Regular Expressions

In [ ]:
Search
Findall
Extract
Replace
Extractall

In [38]:
text = "Ethics are built right into the ideals and objectives of the United Nations. @UnitedNations  @ @_blah"
text = text.split(' ')
import re
[w for w in text if re.search('@[A-Za-z0-9_]+',w)]

['@UnitedNations', '@_blah']

In [39]:
[w for w in text if re.search('@\w+',w)]

['@UnitedNations', '@_blah']

In [40]:
text1 = 'ouagadougou'
re.findall(r'[^aeiou]',text1)

['g', 'd', 'g']

In [ ]:
# For Dates
re.findall(r'\d{1,2}[/-]\d{1,2}[1,2]\d{2,4}',text)
# () only pull out the things you want it to pull out not the whole sentence
# Dates for where the month is written
re.findall(r'\d{2} (?:Jan|Feb|Mar) [a-z]* \d{4}',text) # The ?: doesnt let the brackets extract out that specific part but all of it
re.findall(r'(?:\d{1,2})? (?:Jan|Feb|Mar) [a-z]* (?:\d{1,2},)? \d{2,4}',text) # The month come in the start or at the end

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

plt.figure(figsize=(20,12))
img = mpimg.imread('./Pictures/Regex1.PNG')
plt.imshow(img)

In [6]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [7]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [8]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [9]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [10]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [11]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [12]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [13]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [14]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [15]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [25]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [17]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

## Week 2

In [48]:
import nltk
nltk.download('gutenberg')
nltk.download('genesis')
nltk.download('inaugural')
nltk.download('nps_chat')
nltk.download('webtext')
nltk.download('treebank')
from nltk.book import *

[nltk_data] Downloading package gutenberg to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package genesis to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package genesis is already up-to-date!
[nltk_data] Downloading package inaugural to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package inaugural is already up-to-date!
[nltk_data] Downloading package nps_chat to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package nps_chat is already up-to-date!
[nltk_data] Downloading package webtext to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package webtext is already up-to-date!
[nltk_data] Downloading package treebank to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\treebank.zip.

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [49]:
text7

In [52]:
sent7

['Pierre',
 'Vinken',
 ',',
 '61',
 'years',
 'old',
 ',',
 'will',
 'join',
 'the',
 'board',
 'as',
 'a',
 'nonexecutive',
 'director',
 'Nov.',
 '29',
 '.']

In [53]:
len(sent7)

18

In [54]:
len(text7)

100676

In [55]:
len(set(text7))

12408

In [56]:
list(set(text7))[:10]

['5.92',
 'low-ball',
 'identity-management',
 'short-wave',
 'minute',
 'SERVICES',
 'compilation',
 'botched',
 'clamped',
 'Russian']

In [57]:
dist = FreqDist(text7)
len(dist)

12408

In [58]:
vocab1 = dist.keys()
#vocab1[:10] 
# In Python 3 dict.keys() returns an iterable view instead of a list
list(vocab1)[:10]

['Pierre', 'Vinken', ',', '61', 'years', 'old', 'will', 'join', 'the', 'board']

In [72]:
dist['four'] # Tells how many times 'four' is in the corpus

20

In [59]:
freqwords = [w for w in vocab1 if len(w) > 5 and dist[w] > 100]
freqwords

['billion',
 'company',
 'president',
 'because',
 'market',
 'million',
 'shares',
 'trading',
 'program']

In [60]:
### Normalization and Stemming
input1 = "List listed lists listing listings"
words1 = input1.lower().split(' ') # Nirmalization
words1

['list', 'listed', 'lists', 'listing', 'listings']

In [61]:
porter = nltk.PorterStemmer() # Stemming
[porter.stem(t) for t in words1]

['list', 'list', 'list', 'list', 'list']

In [63]:
nltk.download('udhr')
udhr = nltk.corpus.udhr.words('English-Latin1')
udhr[:20]

[nltk_data] Downloading package udhr to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\udhr.zip.

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'rights',
 'of']

In [64]:
[porter.stem(t) for t in udhr[:20]] # Still Lemmatization

['univers',
 'declar',
 'of',
 'human',
 'right',
 'preambl',
 'wherea',
 'recognit',
 'of',
 'the',
 'inher',
 'digniti',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalien',
 'right',
 'of']

In [74]:
# WNLemma = nltk.WordNetLemmatizer()
# [WNlemma.lemmatize(t) for t in udhr[:20]]

In [67]:
text11 = "Children shouldn't drink a sugary drink before bed."
text11.split(' ')

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']

In [69]:
nltk.download('punkt')
nltk.word_tokenize(text11)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

['Children',
 'should',
 "n't",
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed',
 '.']

In [70]:
text12 = "This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!"
sentences = nltk.sent_tokenize(text12)
len(sentences)

4

In [71]:
sentences

['This is the first sentence.',
 'A gallon of milk in the U.S. costs $2.99.',
 'Is this the third sentence?',
 'Yes, it is!']

#### Advanced NLTK

In [86]:
POSTagging = {'CC':'Conjunction',
             'CD':'Cardinal',
             'DT':'Determiner',
             'IN':'Preposition',
             'JJ':'Adjective',
             'MD':'Modal',
             'NN':'Noun',
             'POS':'Possesive',
             'PRB':'Pronoun',
             'RB':'Adverb',
             'SYM':'Symbol',
             'VB':'Verb'}

In [76]:
nltk.download('tagsets')
nltk.help.upenn_tagset('MD') # Use this to tell what MD stands for

[nltk_data] Downloading package tagsets to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...

MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would

[nltk_data]   Unzipping help\tagsets.zip.

In [78]:
nltk.download('averaged_perceptron_tagger')
text13 = nltk.word_tokenize(text11)
nltk.pos_tag(text13)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

[('Children', 'NNP'),
 ('should', 'MD'),
 ("n't", 'RB'),
 ('drink', 'VB'),
 ('a', 'DT'),
 ('sugary', 'JJ'),
 ('drink', 'NN'),
 ('before', 'IN'),
 ('bed', 'NN'),
 ('.', '.')]

In [79]:
text14 = nltk.word_tokenize("Visiting aunts can be a nuisance")
nltk.pos_tag(text14)

[('Visiting', 'VBG'),
 ('aunts', 'NNS'),
 ('can', 'MD'),
 ('be', 'VB'),
 ('a', 'DT'),
 ('nuisance', 'NN')]

In [80]:
# Parsing sentence structure
text15 = nltk.word_tokenize("Alice loves Bob")
grammar = nltk.CFG.fromstring("""
S -> NP VP
VP -> V NP
NP -> 'Alice' | 'Bob' 
V -> 'loves'
""")

parser = nltk.ChartParser(grammar)
trees = parser.parse_all(text15)
for tree in trees:
    print(tree)

(S (NP Alice) (VP (V loves) (NP Bob)))

In [82]:
from nltk.corpus import treebank
text17 = treebank.parsed_sents('wsj_0001.mrg')[0]
print(text17)

(S
  (NP-SBJ
    (NP (NNP Pierre) (NNP Vinken))
    (, ,)
    (ADJP (NP (CD 61) (NNS years)) (JJ old))
    (, ,))
  (VP
    (MD will)
    (VP
      (VB join)
      (NP (DT the) (NN board))
      (PP-CLR (IN as) (NP (DT a) (JJ nonexecutive) (NN director)))
      (NP-TMP (NNP Nov.) (CD 29))))
  (. .))

In [83]:
text18 = nltk.word_tokenize("The old man the boat")
nltk.pos_tag(text18)

[('The', 'DT'), ('old', 'JJ'), ('man', 'NN'), ('the', 'DT'), ('boat', 'NN')]

In [84]:
text19 = nltk.word_tokenize("Colorless green ideas sleep furiously")
nltk.pos_tag(text19)

[('Colorless', 'NNP'),
 ('green', 'JJ'),
 ('ideas', 'NNS'),
 ('sleep', 'VBP'),
 ('furiously', 'RB')]

## Text Classification

Examples
* Topic Identification
* Spam Detection
* Sentiment Analysis
* Spelling Correction

Words
* Handling Common Words: Stop Words
* Normalization: Make Lower case
* Stemming/Lemmatization
* Characteristics of Capital Letters e.g White House
* Part of Speech in a sentence e.g the weather or the whether, former is correct
* Grammatical Structure, Sentence parsing
* Grouping words of similar meaning, semantics {buy, purchase}